[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.109.0"
gunicorn = "==22.0.0"
openai = "==1.2.4"
requests = "==2.31.0"
uvicorn = "==0.22.0"

[dev-packages]
ruff = "*"
pytest = "*"

[requires]
python_version = "3.11"
